#sl-search {
  display: flex;
  align-items: center;

  md-icon {
    color: #666;
  }
  input {
    border: none;
    font-size: 20px;
    color: #434343;
    margin-left: 10px;
  }
  input:focus {
    outline: none;
  }
}

md-list-item {
  height: 61px;
}
sl-song {
  width: 100%;
}
#sl-action-addSong {
  position: absolute;
  bottom: 50px;
  right: 50px;
}