.sl-toolbar, .sl-menu-space, .sl-firm, .sl-more-space {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sl-toolbar {
  border: solid 1px cyan;
  height: 100px;
}
.sl-firm {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sl-firm-name {
  border: solid 1px orangered;
  width: 150px;
  height: 50px;
}
.sl-empty-space {
  width: 100%;
}
.sl-menu-btn, .sl-firm-icon, .sl-more-btn {
  border: solid 1px blue;
  width: 32px;
  height: 32px;
  margin: 15px;
}
.sl-menu-separation, .sl-more-separation {
  border: solid 1px blue;
  height: 50px;
}