<md-toolbar color="primary">
    <!--
    <div class="sl-menu-space" [hidden]="!sidenav.isToogled">
      <button md-icon-button (click)="sidenav.toogle()">
        <md-icon svgIcon="menu" color="white"></md-icon>
      </button>
      <div class="sl-menu-separation"></div>
    </div>
    -->
    <button md-button class="white-transparent" (click)="goToHome()">
      <md-icon svgIcon="headset"></md-icon>
      <span class="sl-firm-name">SONGLIB</span>
    </button>
    <span class="sl-empty-space"></span>    
</md-toolbar>