/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
}
.sl-root {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}