<md-toolbar id="sl-drawer-header">
  <md-toolbar-row id="sl-user">
    <div id="sl-user-avatar">
      <img src="{{user.avatarUrl}}" alt="{{user.name}}"/>
    </div>
    <span id="sl-user-name">{{ user.name }}</span>
  </md-toolbar-row>
</md-toolbar>
<md-list id="sl-drawer-content">
  <md-list-item>
    <md-icon svgIcon="star" md-list-icon></md-icon>
    <h3 md-line>Most listened</h3>
  </md-list-item>
  <md-list-item>
    <md-icon svgIcon="favorite" md-list-icon></md-icon>
    <h3 md-line>Favorites</h3>
  </md-list-item>
  <md-list-item>
    <md-icon svgIcon="library_music" md-list-icon></md-icon>
    <h3 md-line>Playlists</h3>
  </md-list-item>
</md-list>
<div id="sl-drawer-footer" color="primary">
  <button md-fab id="sl-action-logout" (click)="logOut()">
    <md-icon svgIcon="exit_to_app" class="sl-avatar-default"></md-icon>
  </button>
</div>
