<md-toolbar class="sl-drawer-header">
  <md-toolbar-row class="sl-user">
    <div class="sl-user-avatar">
      <img src="assets/images/avatars/iker_bedecarrax.png" alt="Iker Bedecarrax"/>
    </div>
    <span class="sl-user-name">Iker Bedecarrax</span>
    <span class="sl-empty-space"></span>
    <button md-icon-button class="sl-action-logout">
      <md-icon svgIcon="logout"></md-icon>
    </button>
  </md-toolbar-row>
</md-toolbar>
<md-list class="sl-drawer-content">
  <md-list-item>
    <md-icon svgIcon="star" md-list-icon></md-icon>
    <h3 md-line>Most listened</h3>
  </md-list-item>
  <md-list-item>
    <md-icon svgIcon="favorite" md-list-icon></md-icon>
    <h3 md-line>Favorites</h3>
  </md-list-item>
  <md-list-item>
    <md-icon svgIcon="library_music" md-list-icon></md-icon>
    <h3 md-line>Playlists</h3>
  </md-list-item>
</md-list>
<div class="sl-drawer-footer" color="primary">
  <button md-fab class="sl-action-login">
    <md-icon svgIcon="account_circle" class="sl-avatar-default"></md-icon>
  </button>
</div>
